body{
  font: 15px Helvetica;
  height:100vh;
  margin: 0;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQnaHVZctG4vTILkAViR0vAFxn19TWTfmyxXA&usqp=CAU);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left; */
  background-color: rgb(224, 224, 243);
  color: rgb(42, 42, 82);
  /* background-color: rgb(224, 224, 243);
  color: rgb(224, 224, 243); */
}
