.logoutBtn {
	height: '30px';
	width: '100px';
}

.dashboardPage {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.questionContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
}
